.assets/
.docs/
.feeds/
.pkg/*.tar.zst
.pkg/*.log
.pkg/PKGBUILD
.pkg/feedmee/
.pkg/feedmee-*.zst
.pkg/pkg/
.pkg/src/
.svelte-kit
coverage/
pkg/
[Dd]ist/
[Ll]og/
[Ll]ogs/
[Oo]bj/
[Oo]ut/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
**/[Bb]in/*
**/[Pp]ackages/*
build/
node_modules/
publish/
src-tauri/gen/
src-tauri/target/
