.assets/
.context/
.docs/
.DS_Store
.feeds/
.git/
.repomix/
.repomixignore
.svelte-kit
[Dd]ist/
[Ll]og/
[Ll]ogs/
[Oo]bj/
[Oo]ut/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
**/[Bb]in/*
**/[Pp]ackages/*
build/
node_modules/
publish/
repomix.*.json
src-tauri/Cargo.lock
src-tauri/gen/
src-tauri/target/
